<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Title -->
    <title>Landing Incredible | Gravity - Multi-Purpose HTML Template</title>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="author" content="G-Projects">
    <meta name="keywords" content="Gravity, landing, incredible, mega, template">
    <meta name="description" content="Landing Incredible | Gravity - Multi-Purpose HTML Template">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/img/favicon.ico">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="assets/css/plugins.css">
    <!-- Main CSS -->
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
<main>
    <!-- Start Page Preloader -->
    <div id="loading">
        <div id="loading-center">
            <div id="loading-center-absolute">
                <div class="object" id="object_four"></div>
                <div class="object" id="object_three"></div>
                <div class="object" id="object_two"></div>
                <div class="object" id="object_one"></div>
            </div>
        </div>
    </div>
    <!-- End Page Preloader -->
    <!-- Start Header -->
    <header id="js-header" class="u-header u-header--sticky-top u-header--toggle-section u-header--change-appearance dark-header" data-header-fix-moment="300">
        <div class="u-header__section u-header__section--dark g-bg-black g-transition-0_3 g-py-10" data-header-fix-moment-exclude="g-py-10" data-header-fix-moment-classes="u-shadow-v18 g-py-0">
            <nav class="navbar navbar-expand-lg">
                <div class="container">
                    <!-- Start Responsive Toggle Button -->
                    <button class="navbar-toggler navbar-toggler-right btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-top-3 g-right-0" type="button" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBar" data-toggle="collapse" data-target="#navBar">
                        <span class="hamburger hamburger--slider g-pt-5 g-pr-0">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </span>
                    </button>
                    <!-- End Responsive Toggle Button -->
                    <!-- Start Logo -->
                    <a href="index.html" class="navbar-brand">
                        <img src="assets/img/logo/logo-2.png" alt="Gravity">
                    </a>
                    <!-- End Logo -->
                    <!-- Start Navigation -->
                    <div class="collapse navbar-collapse align-items-center flex-sm-row" id="navBar">
                        <ul class="navbar-nav text-uppercase g-font-weight-600 ml-auto">
                            <li class="nav-item g-mx-15--lg">
                                <a href="#" data-target="#home" class="js-go-to nav-link px-0">Home</a>
                            </li>
                            <li class="nav-item g-mx-15--lg">
                                <a href="#" data-target="#overview" class="js-go-to nav-link px-0">Overview</a>
                            </li>
                            <li class="nav-item g-mx-15--lg">
                                <a href="#" data-target="#company" class="js-go-to nav-link px-0">Company</a>
                            </li>
                            <li class="nav-item g-mx-15--lg">
                                <a href="#" data-target="#projects" class="js-go-to nav-link px-0">Projects</a>
                            </li>
                            <li class="nav-item g-mx-15--lg">
                                <a href="#" data-target="#solution" class="js-go-to nav-link px-0">Solution</a>
                            </li>
                            <li class="nav-item g-mx-15--lg">
                                <a href="#" data-target="#environment" class="js-go-to nav-link px-0">Environment</a>
                            </li>
                            <li class="nav-item g-mx-15--lg">
                                <a href="#" data-target="#news" class="js-go-to nav-link px-0">News</a>
                            </li>
                        </ul>
                    </div>
                    <!-- End Navigation -->
                    <div class="d-inline-block g-hidden-md-down g-pos-rel g-valign-middle g-pl-15">
                        <a class="btn u-btn-outline-white g-font-size-13 text-uppercase g-py-10 g-px-15" href="https://www.templatemonster.com/authors/gworld" >Buy now</a>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!-- End Header -->
    <!-- Start Promo Block -->
    <section id="home" class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall" data-options='{direction: "reverse", settings_mode_oneelement_max_offset: "150"}'>
        <div class="divimage dzsparallaxer--target w-100 g-bg-pos-bottom-center g-bg-incredible-promo"></div>
        <div class="container g-py-200">
            <div class="row g-pt-75">
                <div class="col-md-6">
                    <h3 class="g-color-black g-font-weight-300 g-font-size-40 g-line-height-1_2 mb-4">Have an easy<br>website with Gravity</h3>
                    <span class="d-block g-color-black-opacity-0_8 g-font-size-16 mb-4">Build, Share, Sell and Enjoy.</span>
                    <a class="js-fancybox u-link-v5 g-color-black" href="#" data-src="https://vimeo.com/400516713" data-speed="350">
                        <span class="align-middle u-icon-v3 u-block-hover--scale g-bg-white g-color-black g-color-primary--hover g-rounded-50x g-cursor-pointer mr-2">
                            <i class="g-font-size-18 g-pos-rel g-left-2 fa fa-play"></i>
                        </span>
                        1:16 minutes
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- End Promo Block -->
    <!-- Start Icons Blocks -->
    <section id="overview" class="g-pt-75 g-pb-45">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-lg-4 g-px-30 g-mb-30">
                    <!-- Start Icon Blocks -->
                    <div class="text-center">
                        <span class="d-inline-block u-icon-v3 u-icon-size--xl g-bg-primary g-color-white rounded-circle g-mb-20">
                            <i class="icon-communication-081 u-line-icon-pro"></i>
                        </span>
                        <h3 class="h5 g-color-gray-dark-v2 g-font-weight-600 text-uppercase mb-3">Beautiful Designs</h3>
                        <p class="mb-0">I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine ...</p>
                    </div>
                    <!-- End Icon Blocks -->
                </div>
                <div class="col-lg-4 g-brd-left--lg g-brd-gray-light-v4 g-px-30 g-mb-30">
                    <!-- Start Icon Blocks -->
                    <div class="text-center">
                        <span class="d-inline-block u-icon-v3 u-icon-size--xl g-bg-primary g-color-white rounded-circle g-mb-20">
                            <i class="icon-finance-086 u-line-icon-pro"></i>
                        </span>
                        <h3 class="h5 g-color-gray-dark-v2 g-font-weight-600 text-uppercase mb-3">Unique Features</h3>
                        <p class="mb-0">I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine ...</p>
                    </div>
                    <!-- End Icon Blocks -->
                </div>
                <div class="col-lg-4 g-brd-left--lg g-brd-gray-light-v4 g-px-30 g-mb-30">
                    <!-- Start Icon Blocks -->
                    <div class="text-center">
                        <span class="d-inline-block u-icon-v3 u-icon-size--xl g-bg-primary g-color-white rounded-circle g-mb-20">
                            <i class="icon-communication-057 u-line-icon-pro"></i>
                        </span>
                        <h3 class="h5 g-color-gray-dark-v2 g-font-weight-600 text-uppercase mb-3">Reliable Support</h3>
                        <p class="mb-0">I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine ...</p>
                    </div>
                    <!-- End Icon Blocks -->
                </div>
            </div>
        </div>
    </section>
    <!-- End Icons Blocks -->
    <hr class="g-brd-gray-light-v4 my-0">
    <!-- Start About Our Company -->
    <section id="company" class="1g-bg-secondary g-pt-75 g-pb-45">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 align-self-center g-mb-30">
                    <header class="u-heading-v2-3--bottom g-brd-primary g-mt-minus-10 g-mb-20">
                        <h2 class="h4 u-heading-v2__title g-color-gray-dark-v2 g-font-weight-600 text-uppercase">Our Company</h2>
                    </header>
                    <p class="g-font-size-16 g-mb-10">I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents.</p>
                    <ul class="list-unstyled g-color-gray-dark-v4 mb-0">
                        <li class="d-flex g-mb-10">
                            <i class="icon-check g-color-primary g-mt-5 g-mr-10"></i> Included Over 1000+ UI Elements
                        </li>
                        <li class="d-flex g-mb-10">
                            <i class="icon-check g-color-primary g-mt-5 g-mr-10"></i> Beautiful Eye Catching Demos
                        </li>
                        <li class="d-flex g-mb-10">
                            <i class="icon-check g-color-primary g-mt-5 g-mr-10"></i> Over 200+ Beautiful Thematic Pages
                        </li>
                        <li class="d-flex g-mb-0">
                            <i class="icon-check g-color-primary g-mt-5 g-mr-10"></i> Semantic HTML5 & CSS3 Codes
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6 g-bg-img-hero g-bg-incredible-about g-pos-rel g-hidden-sm-down g-mb-30">
                    <div class="g-absolute-centered text-center w-100 g-px-40">
                        <h2 class="h1 g-color-gray-light-v2 g-font-weight-600 g-letter-spacing-0_5">Gravity is
                            <span class="u-text-animation u-text-animation--typing"></span>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End About Our Company -->
    <hr class="g-brd-gray-light-v4 my-0">
    <!-- Start Projects -->
    <section id="projects" class="g-pt-75 g-pb-45">
        <div class="container">
            <header class="g-mb-20">
                <div class="u-heading-v2-3--bottom g-brd-primary g-mt-minus-10 g-mb-10">
                    <h2 class="h4 u-heading-v2__title g-color-gray-dark-v2 g-font-weight-600 text-uppercase">Our Projects</h2>
                </div>
                <p class="g-font-size-16 g-mb-10">I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents.</p>
            </header>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 g-mb-30">
                    <article class="u-block-hover u-shadow-v21 rounded">
                        <figure class="u-bg-overlay g-bg-black-opacity-0_4--after">
                            <img class="img-fluid w-100 u-block-hover__main--zoom-v1" src="assets/img-temp/400x270/img1.jpg" alt="Gravity">
                        </figure>
                        <header class="u-bg-overlay__inner g-pos-abs g-top-30 g-right-30 g-left-30 g-color-white">
                            <h3 class="h4">
                                <a class="g-color-white" href="#">Google LLC</a>
                            </h3>
                            <p>I am alone, and feel the charm of existence</p>
                        </header>
                        <ul class="list-inline u-bg-overlay__inner g-pos-abs g-bottom-10 g-left-30 g-opacity-0_8">
                            <li class="list-inline-item">
                                <div class="g-brd-around g-brd-2 g-brd-white rounded-circle">
                                    <img class="g-width-30 g-height-30 rounded-circle" src="assets/img-temp/100x100/img12.jpg" alt="Gravity">
                                </div>
                            </li>
                            <li class="list-inline-item g-ml-minus-20">
                                <div class="g-brd-around g-brd-2 g-brd-white rounded-circle">
                                    <img class="g-width-30 g-height-30 rounded-circle" src="assets/img-temp/100x100/img5.jpg" alt="Gravity">
                                </div>
                            </li>
                            <li class="list-inline-item g-ml-minus-20">
                                <div class="g-brd-around g-brd-2 g-brd-white rounded-circle">
                                    <img class="g-width-30 g-height-30 rounded-circle" src="assets/img-temp/100x100/img7.jpg" alt="Gravity">
                                </div>
                            </li>
                            <li class="list-inline-item g-font-weight-600 g-color-white">+11</li>
                        </ul>
                    </article>
                </div>
                <div class="col-lg-4 col-md-6 g-mb-30">
                    <article class="u-block-hover u-shadow-v21 rounded">
                        <figure class="u-bg-overlay g-bg-black-opacity-0_4--after">
                            <img class="img-fluid w-100 u-block-hover__main--zoom-v1" src="assets/img-temp/400x270/img2.jpg" alt="Gravity">
                        </figure>
                        <header class="u-bg-overlay__inner g-pos-abs g-top-30 g-right-30 g-left-30 g-color-white">
                            <h3 class="h4">
                                <a class="g-color-white" href="#">Facebook LLC</a>
                            </h3>
                            <p>I am alone, and feel the charm of existence</p>
                        </header>
                        <ul class="list-inline u-bg-overlay__inner g-pos-abs g-bottom-10 g-left-30 g-opacity-0_8">
                            <li class="list-inline-item">
                                <div class="g-brd-around g-brd-2 g-brd-white rounded-circle">
                                    <img class="g-width-30 g-height-30 rounded-circle" src="assets/img-temp/100x100/img7.jpg" alt="Gravity">
                                </div>
                            </li>
                            <li class="list-inline-item g-ml-minus-20">
                                <div class="g-brd-around g-brd-2 g-brd-white rounded-circle">
                                    <img class="g-width-30 g-height-30 rounded-circle" src="assets/img-temp/100x100/img4.jpg" alt="Gravity">
                                </div>
                            </li>
                            <li class="list-inline-item g-ml-minus-20">
                                <div class="g-brd-around g-brd-2 g-brd-white rounded-circle">
                                    <img class="g-width-30 g-height-30 rounded-circle" src="assets/img-temp/100x100/img5.jpg" alt="Gravity">
                                </div>
                            </li>
                            <li class="list-inline-item g-font-weight-600 g-color-white">+22</li>
                        </ul>
                    </article>
                </div>
                <div class="col-lg-4 col-md-6 g-mb-30">
                    <article class="u-block-hover u-shadow-v21 rounded">
                        <figure class="u-bg-overlay g-bg-black-opacity-0_4--after">
                            <img class="img-fluid w-100 u-block-hover__main--zoom-v1" src="assets/img-temp/400x270/img3.jpg" alt="Gravity">
                        </figure>
                        <header class="u-bg-overlay__inner g-pos-abs g-top-30 g-right-30 g-left-30 g-color-white">
                            <h3 class="h4">
                                <a class="g-color-white" href="#">Twitter LLC</a>
                            </h3>
                            <p>I am alone, and feel the charm of existence</p>
                        </header>
                        <ul class="list-inline u-bg-overlay__inner g-pos-abs g-bottom-10 g-left-30 g-opacity-0_8">
                            <li class="list-inline-item">
                                <div class="g-brd-around g-brd-2 g-brd-white rounded-circle">
                                    <img class="g-width-30 g-height-30 rounded-circle" src="assets/img-temp/100x100/img5.jpg" alt="Gravity">
                                </div>
                            </li>
                            <li class="list-inline-item g-ml-minus-20">
                                <div class="g-brd-around g-brd-2 g-brd-white rounded-circle">
                                    <img class="g-width-30 g-height-30 rounded-circle" src="assets/img-temp/100x100/img7.jpg" alt="Gravity">
                                </div>
                            </li>
                            <li class="list-inline-item g-ml-minus-20">
                                <div class="g-brd-around g-brd-2 g-brd-white rounded-circle">
                                    <img class="g-width-30 g-height-30 rounded-circle" src="assets/img-temp/100x100/img6.jpg" alt="Gravity">
                                </div>
                            </li>
                            <li class="list-inline-item g-font-weight-600 g-color-white">+33</li>
                        </ul>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <!-- End Projects -->
    <hr class="g-brd-gray-light-v4 my-0">
    <!-- Start Solution -->
    <section id="solution" class="dzsparallaxer auto-init height-is-based-on-content use-loading" data-options='{direction: "reverse", settings_mode_oneelement_max_offset: "150"}'>
        <!-- Start Parallax Image -->
        <div class="divimage dzsparallaxer--target w-100 u-bg-overlay g-bg-img-hero g-bg-home-default-solutions g-bg-white-opacity-0_7--after"></div>
        <!-- End Parallax Image -->
        <div class="container u-bg-overlay__inner g-pt-75 g-pb-45">
            <div class="row">
                <!-- Start Section Content -->
                <div class="col-lg-6 order-2 order-sm-1 g-mb-30">
                    <div class="u-heading-v2-3--bottom g-brd-primary g-mt-minus-10 g-mb-10">
                        <h2 class="h4 u-heading-v2__title g-color-gray-dark-v2 g-font-weight-600 text-uppercase">Our Solution</h2>
                    </div>
                    <p class="g-font-size-16 g-line-height-2 g-mb-10">I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents.</p>
                    <div class="g-mb-15">
                        <img class="u-block-hover__main--grayscale g-width-100 g-opacity-0_6 g-mr-40 g-mb-10 g-mb-0--sm" src="assets/img-temp/200x100/img1.png" alt="Gravity">
                        <img class="u-block-hover__main--grayscale g-width-100 g-opacity-0_6 g-mr-40 g-mb-10 g-mb-0--sm" src="assets/img-temp/200x100/img2.png" alt="Gravity">
                        <img class="u-block-hover__main--grayscale g-width-100 g-opacity-0_6" src="assets/img-temp/200x100/img3.png" alt="Gravity">
                    </div>
                    <a href="#" class="btn btn-xl u-btn-primary text-uppercase g-font-weight-600 g-font-size-12 rounded g-mr-15 g-mb-0">Buy Full Version</a>
                </div>
                <!-- End Section Content -->
                <!-- Start Video Icon -->
                <div class="col-lg-6 order-1 order-sm-2 align-self-center text-center g-pos-rel g-mb-30">
                    <a class="js-fancybox d-block g-pos-rel" href="#" data-src="https://vimeo.com/400516713" data-speed="350">
                        <span class="u-icon-v3 u-icon-size--xl u-block-hover--scale u-shadow-v24 g-bg-white g-color-gray-dark-v1 g-color-primary--hover g-font-size-20 rounded-circle g-cursor-pointer g-mb-10">
                            <i class="fa fa-play g-pos-rel g-left-2"></i>
                        </span>
                    </a>
                    <p class="g-color-gray-dark-v5 g-mb-0">Watch Our Video</p>
                </div>
                <!-- End Video Icon -->
            </div>
        </div>
    </section>
    <!-- End Solution -->
    <!-- Start Environment -->
    <section id="environment" class="g-pt-75 g-pb-45">
        <div class="container">
            <div class="row">
                <!-- Section Carousel -->
                <div class="col-lg-6 g-mb-30">
                    <div id="carouselCus1" class="js-carousel text-center g-mb-20" data-infinite="true"
                         data-lazy-load="progressive"
                         data-arrows-classes="u-arrow-v1 g-absolute-centered--y g-width-50 g-height-50 g-font-size-20 g-bg-white g-color-gray-dark-v5 g-color-primary--hover g-mt-minus-10"
                         data-arrow-left-classes="fa fa-angle-left g-left-0 rounded-right"
                         data-arrow-right-classes="fa fa-angle-right g-right-0 rounded-left"
                         data-nav-for="#carouselCus1">
                        <div class="js-slide">
                            <a class="js-fancybox d-block g-pos-rel" data-rel="lightbox-gallery--08-1" href="assets/img-temp/600x450/img1.jpg" title="Gravity" data-open-effect="bounceInDown" data-close-effect="bounceOutDown" data-open-speed="1000" data-close-speed="1000" data-blur-bg="true">
                                <img class="img-fluid w-100 rounded" src="assets/img-temp/600x450/img1.jpg" data-lazy="assets/img-temp/600x450/img1.jpg" alt="Gravity">
                            </a>
                        </div>
                        <div class="js-slide">
                            <a class="js-fancybox d-block g-pos-rel" data-rel="lightbox-gallery--08-1" href="assets/img-temp/600x450/img2.jpg" title="Gravity" data-open-effect="bounceInDown" data-close-effect="bounceOutDown" data-open-speed="1000" data-close-speed="1000" data-blur-bg="true">
                                <img class="img-fluid w-100 rounded" src="assets/img-temp/600x450/img2.jpg" data-lazy="assets/img-temp/600x450/img2.jpg" alt="Gravity">
                            </a>
                        </div>
                        <div class="js-slide">
                            <a class="js-fancybox d-block g-pos-rel" data-rel="lightbox-gallery--08-1" href="assets/img-temp/600x450/img3.jpg" title="Gravity" data-open-effect="bounceInDown" data-close-effect="bounceOutDown" data-open-speed="1000" data-close-speed="1000" data-blur-bg="true">
                                <img class="img-fluid w-100 rounded" src="assets/img-temp/600x450/img3.jpg" data-lazy="assets/img-temp/600x450/img3.jpg" alt="Gravity">
                            </a>
                        </div>
                        <div class="js-slide">
                            <a class="js-fancybox d-block g-pos-rel" data-rel="lightbox-gallery--08-1" href="assets/img-temp/600x450/img4.jpg" title="Gravity" data-open-effect="bounceInDown" data-close-effect="bounceOutDown" data-open-speed="1000" data-close-speed="1000" data-blur-bg="true">
                                <img class="img-fluid w-100 rounded" src="assets/img-temp/600x450/img4.jpg" data-lazy="assets/img-temp/600x450/img4.jpg" alt="Gravity">
                            </a>
                        </div>
                        <div class="js-slide">
                            <a class="js-fancybox d-block g-pos-rel" data-rel="lightbox-gallery--08-1" href="assets/img-temp/600x450/img5.jpg" title="Gravity" data-open-effect="bounceInDown" data-close-effect="bounceOutDown" data-open-speed="1000" data-close-speed="1000" data-blur-bg="true">
                                <img class="img-fluid w-100 rounded" src="assets/img-temp/600x450/img5.jpg" data-lazy="assets/img-temp/600x450/img5.jpg" alt="Gravity">
                            </a>
                        </div>
                    </div>
                    <div id="carouselCus2" class="js-carousel text-center u-carousel-v3 g-mx-minus-10" data-infinite="true" data-center-mode="true" data-lazy-load="progressive" data-slides-show="4" data-is-thumbs="true" data-nav-for="#carouselCus1">
                        <div class="js-slide g-px-10">
                            <img class="img-fluid g-cursor-pointer rounded" src="assets/img-temp/600x450/img6.jpg" data-lazy="assets/img-temp/600x450/img1.jpg" alt="Gravity">
                        </div>
                        <div class="js-slide g-px-10">
                            <img class="img-fluid g-cursor-pointer rounded" src="assets/img-temp/600x450/img3.jpg" data-lazy="assets/img-temp/600x450/img2.jpg" alt="Gravity">
                        </div>
                        <div class="js-slide g-px-10">
                            <img class="img-fluid g-cursor-pointer rounded" src="assets/img-temp/600x450/img4.jpg" data-lazy="assets/img-temp/600x450/img3.jpg" alt="Gravity">
                        </div>
                        <div class="js-slide g-px-10">
                            <img class="img-fluid g-cursor-pointer rounded" src="assets/img-temp/600x450/img5.jpg" data-lazy="assets/img-temp/600x450/img4.jpg" alt="Gravity">
                        </div>
                        <div class="js-slide g-px-10">
                            <img class="img-fluid g-cursor-pointer rounded" src="assets/img-temp/600x450/img7.jpg" data-lazy="assets/img-temp/600x450/img5.jpg" alt="Gravity">
                        </div>
                    </div>
                </div>
                <!-- End Carousel -->
                <!-- Start Content -->
                <div class="col-lg-6 align-self-center g-mb-30">
                    <header class="g-mb-20">
                        <div class="u-heading-v2-3--bottom g-brd-primary g-mb-10">
                            <h2 class="h4 u-heading-v2__title g-color-gray-dark-v2 g-font-weight-600 text-uppercase">Our Environment</h2>
                        </div>
                        <p>Gravity <strong>creative</strong> technology company providing key digital services. Focused on helping our clients to build a <strong>successful</strong> business on web and mobile ...</p>
                    </header>
                    <div class="g-mb-20">
                        <p>I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents.</p>
                        <p>I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents.</p>
                        <p>I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents.</p>
                    </div>
                    <a class="btn btn-xl u-btn-primary text-uppercase g-font-weight-600 g-font-size-12 rounded g-mr-15 g-mb-10 g-mb-0--sm" href="#">Check It Now</a>
                </div>
                <!-- End Content -->
            </div>
        </div>
    </section>
    <!-- End Environment -->
    <!-- Start Counters -->
    <section id="counters" class="g-brd-top g-brd-bottom g-brd-gray-light-v4 g-pt-75 g-pb-45">
        <div class="container">
            <div class="row text-center text-uppercase">
                <div class="col-lg-3 col-sm-6 g-brd-right g-brd-gray-light-v4 g-mb-30">
                    <div class="js-counter g-color-gray-dark-v2 g-font-size-35 g-font-weight-300 g-mb-7">98765</div>
                    <h4 class="h6 g-color-gray-dark-v5">Lines</h4>
                </div>
                <div class="col-lg-3 col-sm-6 g-brd-right--lg g-brd-gray-light-v4 g-mb-30">
                    <div class="js-counter g-color-gray-dark-v2 g-font-size-35 g-font-weight-300 g-mb-7">87654</div>
                    <h4 class="h6 g-color-gray-dark-v5">Projects</h4>
                </div>
                <div class="col-lg-3 col-sm-6 g-brd-right g-brd-gray-light-v4 g-mb-30">
                    <div class="js-counter g-color-gray-dark-v2 g-font-size-35 g-font-weight-300 g-mb-7">76543</div>
                    <h4 class="h6 g-color-gray-dark-v5">Hours</h4>
                </div>
                <div class="col-lg-3 col-sm-6 g-mb-30">
                    <div class="js-counter g-color-gray-dark-v2 g-font-size-35 g-font-weight-300 g-mb-7">65432</div>
                    <h4 class="h6 g-color-gray-dark-v5">Offers</h4>
                </div>
            </div>
        </div>
    </section>
    <!-- End Counters -->
    <!-- Start Latest News -->
    <section id="news" class="g-pt-75 g-pb-45">
        <div class="container">
            <header class="g-mb-30">
                <div class="u-heading-v2-3--bottom g-brd-primary g-mt-minus-10 g-mb-20">
                    <h2 class="h4 u-heading-v2__title g-color-gray-dark-v2 g-font-weight-600 text-uppercase">Latest News</h2>
                </div>
                <p class="g-font-size-16 g-mb-10">I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents.</p>
            </header>
            <div class="row">
                <div class="col-lg-4 g-mb-30">
                    <article class="u-shadow-v11 rounded">
                        <div class="g-pa-30">
                            <h3 class="g-font-weight-300 g-mb-15">
                                <a class="u-link-v5 g-color-gray-dark-v2 g-color-primary--hover" href="#">Build a great idea</a>
                            </h3>
                            <p class="g-mb-0">I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy ...</p>
                        </div>
                        <div class="media g-font-size-12 g-brd-top g-brd-gray-light-v4 g-pa-15-30">
                            <img class="d-flex mr-2 rounded-circle g-width-20 g-height-20" src="assets/img-temp/100x100/img5.jpg" alt="Gravity">
                            <div class="media-body align-self-center">
                                <a class="u-link-v5 g-color-gray-dark-v2 g-color-primary--hover" href="#">Anna Browns</a>
                            </div>
                            <div class="align-self-center">
                                <a class="u-link-v5 g-color-gray-dark-v2 g-color-primary--hover g-mr-10" href="#">
                                    <i class="icon-bubbles g-color-gray-dark-v5 g-pos-rel g-top-1 mr-1"></i> 11
                                </a>
                                <a class="u-link-v5 g-color-gray-dark-v2 g-color-primary--hover" href="#">
                                    <i class="icon-eye g-color-gray-dark-v5 g-pos-rel g-top-1 mr-1"></i> 999
                                </a>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-lg-4 g-mb-30">
                    <article class="u-shadow-v11 rounded">
                        <div class="g-pa-30">
                            <h3 class="g-font-weight-300 g-mb-15">
                                <a class="u-link-v5 g-color-gray-dark-v2 g-color-primary--hover" href="#">We build your vision</a>
                            </h3>
                            <p class="g-mb-0">I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy ...</p>
                        </div>
                        <div class="media g-font-size-12 g-brd-top g-brd-gray-light-v4 g-pa-15-30">
                            <img class="d-flex mr-2 rounded-circle g-width-20 g-height-20" src="assets/img-temp/100x100/img4.jpg" alt="Gravity">
                            <div class="media-body align-self-center">
                                <a class="u-link-v5 g-color-gray-dark-v2 g-color-primary--hover" href="#">Sara Johnson</a>
                            </div>
                            <div class="align-self-center">
                                <a class="u-link-v5 g-color-gray-dark-v2 g-color-primary--hover g-mr-10" href="#">
                                    <i class="icon-bubbles g-color-gray-dark-v5 g-pos-rel g-top-1 mr-1"></i> 22
                                </a>
                                <a class="u-link-v5 g-color-gray-dark-v2 g-color-primary--hover" href="#">
                                    <i class="icon-eye g-color-gray-dark-v5 g-pos-rel g-top-1 mr-1"></i> 888
                                </a>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-lg-4 g-mb-30">
                    <article class="u-shadow-v11 rounded">
                        <div class="g-pa-30">
                            <h3 class="g-font-weight-300 g-mb-15">
                                <a class="u-link-v5 g-color-gray-dark-v2 g-color-primary--hover" href="#">We know your needs</a>
                            </h3>
                            <p class="g-mb-0">I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy ...</p>
                        </div>
                        <div class="media g-font-size-12 g-brd-top g-brd-gray-light-v4 g-pa-15-30">
                            <img class="d-flex mr-2 rounded-circle g-width-20 g-height-20" src="assets/img-temp/100x100/img7.jpg" alt="Gravity">
                            <div class="media-body align-self-center">
                                <a class="u-link-v5 g-color-gray-dark-v2 g-color-primary--hover" href="#">David Simpson</a>
                            </div>
                            <div class="align-self-center">
                                <a class="u-link-v5 g-color-gray-dark-v2 g-color-primary--hover g-mr-10" href="#">
                                    <i class="icon-bubbles g-color-gray-dark-v5 g-pos-rel g-top-1 mr-1"></i> 33
                                </a>
                                <a class="u-link-v5 g-color-gray-dark-v2 g-color-primary--hover" href="#">
                                    <i class="icon-eye g-color-gray-dark-v5 g-pos-rel g-top-1 mr-1"></i> 777
                                </a>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <!-- End Latest News -->
    <!-- Start Footer -->
    <div class="g-bg-black-opacity-0_9 g-color-white-opacity-0_8 g-pt-50 g-pb-25">
        <div class="container">
            <div class="row">
                <!-- Start Content Column #01 -->
                <div class="col-lg-3 col-md-6 col-sm-6 col-12 g-mb-25 g-mb-0--lg">
                    <a class="d-block g-mb-25" href="index.html">
                        <img src="assets/img/logo/logo-2.png" class="img-fluid" alt="Gravity">
                    </a>
                    <p>Gravity is an incredibly beautiful and fully responsive Bootstrap Template for any type of professionals.</p>
                    <p class="g-mb-0">These professionally designed demos below are built to give you a boosted start for your project. Build Your websites like a lego.</p>
                </div>
                <!-- End Content Column #01 -->
                <!-- Start Content Column #02 -->
                <div class="col-lg-3 col-md-6 col-sm-6 col-12 g-mb-25 g-mb-0--lg">
                    <div class="u-heading-v3-1 g-brd-white-opacity-0_3 g-mb-25">
                        <h2 class="u-heading-v3__title h6 text-uppercase g-brd-white">Latest Posts</h2>
                    </div>
                    <article>
                        <h3 class="h6 g-mb-8">
                            <a class="g-color-white-opacity-0_8 g-color-white--hover" href="elements.html">1000+ Unique Elements</a>
                        </h3>
                        <div class="small g-color-white-opacity-0_6">Mar 25, 2021</div>
                    </article>
                    <hr class="g-brd-white-opacity-0_1 g-my-10">
                    <article>
                        <h3 class="h6 g-mb-8">
                            <a class="g-color-white-opacity-0_8 g-color-white--hover" href="features.html">500+ Reusable Features</a>
                        </h3>
                        <div class="small g-color-white-opacity-0_6">Feb 15, 2021</div>
                    </article>
                    <hr class="g-brd-white-opacity-0_1 g-my-10">
                    <article>
                        <h3 class="h6 g-mb-8">
                            <a class="g-color-white-opacity-0_8 g-color-white--hover" href="home.html">Home & Landing Layouts</a>
                        </h3>
                        <div class="small g-color-white-opacity-0_6">Jan 05, 2021</div>
                    </article>
                </div>
                <!-- End Content Column #02 -->
                <!-- Start Content Column #03 -->
                <div class="col-lg-3 col-md-6 col-sm-6 col-12 g-mb-25 g-mb-0--lg">
                    <div class="u-heading-v3-1 g-brd-white-opacity-0_3 g-mb-25">
                        <h2 class="u-heading-v3__title h6 text-uppercase g-brd-white">Useful Links</h2>
                    </div>
                    <nav class="text-uppercase1">
                        <ul class="list-unstyled g-mt-minus-10 mb-0">
                            <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
                                <h4 class="h6 g-pr-20 mb-0">
                                    <a class="g-color-white-opacity-0_8 g-color-white--hover" href="pages.html">Modern Pages</a>
                                    <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
                                </h4>
                            </li>
                            <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
                                <h4 class="h6 g-pr-20 mb-0">
                                    <a class="g-color-white-opacity-0_8 g-color-white--hover" href="portfolio.html">Our Portfolio</a>
                                    <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
                                </h4>
                            </li>
                            <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
                                <h4 class="h6 g-pr-20 mb-0">
                                    <a class="g-color-white-opacity-0_8 g-color-white--hover" href="blog.html">Blog & News</a>
                                    <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
                                </h4>
                            </li>
                            <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
                                <h4 class="h6 g-pr-20 mb-0">
                                    <a class="g-color-white-opacity-0_8 g-color-white--hover" href="shop.html">eCommerce Pages</a>
                                    <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
                                </h4>
                            </li>
                            <li class="g-pos-rel g-py-10">
                                <h4 class="h6 g-pr-20 mb-0">
                                    <a class="g-color-white-opacity-0_8 g-color-white--hover" href="admin-dashboard.html">Admin Dashboard</a>
                                    <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
                                </h4>
                            </li>
                        </ul>
                    </nav>
                </div>
                <!-- End Footer Content -->
                <!-- Start Content Column #04 -->
                <div class="col-lg-3 col-md-6 col-sm-6 col-12 g-mb-25 g-mb-0--lg">
                    <div class="u-heading-v3-1 g-brd-white-opacity-0_3 g-mb-25">
                        <h2 class="u-heading-v3__title h6 text-uppercase g-brd-white">Our Contacts</h2>
                    </div>
                    <address class="g-footer-map-bg g-bg-no-repeat g-font-size-12 mb-0">
                        <!-- Start Location -->
                        <div class="d-flex g-mb-25">
                            <div class="g-mr-10">
                              <span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
                                <i class="fa fa-map-marker"></i>
                              </span>
                            </div>
                            <p class="mb-0">123 Lincoln Ave, Suite 555,<br>San Francisco, CA 98765</p>
                        </div>
                        <!-- End Location -->
                        <!-- Start Phone -->
                        <div class="d-flex g-mb-25">
                            <div class="g-mr-10">
                              <span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
                                <i class="fa fa-phone"></i>
                              </span>
                            </div>
                            <p class="mb-0">+1 555 555 5555<br>+1 777 777 7777</p>
                        </div>
                        <!-- End Phone -->
                        <!-- Start E-Mail and Website -->
                        <div class="d-flex g-mb-0">
                            <div class="g-mr-10">
                              <span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
                                <i class="fa fa-globe"></i>
                              </span>
                            </div>
                            <p class="mb-0">
                                <a class="g-color-white-opacity-0_8 g-color-white--hover" href="mailto:info@yoursite.com">info@yoursite.com</a>
                                <br>
                                <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#">www.yoursite.com</a>
                            </p>
                        </div>
                        <!-- End E-Mail and Website -->
                    </address>
                </div>
                <!-- End Content Column #04 -->
            </div>
        </div>
    </div>
    <!-- End Footer -->
    <!-- Start Footer Copyright -->
    <footer class="g-bg-gray-dark-v1 g-color-white-opacity-0_8 g-py-20">
        <div class="container">
            <div class="row">
                <div class="col-md-8 text-center text-md-left g-mb-15 g-mb-0--md">
                    <div class="d-lg-flex">
                        <small class="d-block g-font-size-default g-mr-10 g-mb-10 g-mb-0--md">&copy; 2021 - All Rights Reserved</small>
                    </div>
                </div>
                <div class="col-md-4 align-self-center">
                    <ul class="list-inline text-center text-md-right mb-0">
                        <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Facebook">
                            <a href="#" class="g-color-white-opacity-0_5 g-color-white--hover">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Twitter">
                            <a href="#" class="g-color-white-opacity-0_5 g-color-white--hover">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Linkedin">
                            <a href="#" class="g-color-white-opacity-0_5 g-color-white--hover">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer Copyright -->
    <!-- Start Back to Top -->
    <a class="js-go-to u-go-to-v1" href="#" data-type="fixed" data-position='{"bottom": 15, "right": 15}' data-offset-top="400" data-compensation="#js-header" data-show-effect="zoomIn">
        <i class="hs-icon hs-icon-arrow-top"></i>
    </a>
    <!-- End Back to Top -->
</main>
<!-- Plugins JS -->
<script src="assets/js/gs.plugins.js"></script>
<!-- Gravity Core JS -->
<script src="assets/js/gs.core.js"></script>
<!-- Gravity Components JS -->
<script src="assets/js/gs.components.js"></script>
<!-- Gravity Helpers JS -->
<script src="assets/js/gs.helpers.js"></script>
<!-- Gravity Init JS -->
<script src="assets/js/gs.init.js"></script>
<!-- Google Maps -->
<script async defer src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap"></script>
</body>
</html>
